<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="LoginTests">
        <classes>
            <class name="org.example.LoginTest"/>
            <class name="org.example.DashboardTest"/>
            <class name="org.example.AddCandidateTest"/>
        </classes>
    </test>
</suite>